@model TravelBlog.Models.Person

@{
    ViewData["Title"] = "Add Person to experience";
    var Id = ViewBag.ExperienceId;
}


<h1>Add a person to this experience</h1>

@using (@Html.BeginForm())
    {
        <input type="hidden" name="ExperienceId" value="@Id" />
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)

        <input type="submit" value="Create" class="btn btn-default" />
    }

