@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Create New Experience";
}

@using (Html.BeginForm())
{
    <input type="hidden" name="LocationId" value="@ViewBag.LocationId">
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)
    @Html.LabelFor(model => model.Story)
    @Html.EditorFor(model => model.Story)

    <input type="submit" value="Create" class="btn btn-info">
}

<p>@Html.ActionLink("Back to experiences", "Index")</p>