@model IEnumerable<TravelBlog.Models.Experience> 


@{  
    ViewData["Title"] = "Experiences";
 }

 <h1>Experiences</h1>
 <h3>@Html.ActionLink("Create new experience", "Create")</h3>

<ul>
	@foreach(var experience in Model)
	{
	    <li>@Html.DisplayNameFor(model => experience.Title): 
	        @Html.DisplayFor(model => experience.Title) -
	        @Html.DisplayFor(model => experience.Location.City), 
		    @Html.DisplayFor(model => experience.Location.Country)
		    @Html.ActionLink("Details", "Details", new{id = experience.ExperienceId})

		  <a class="bk-btn" href="@Url.Action("Edit", new{id = experience.ExperienceId})">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <span>Edit</span>
          </a>
		  <a class="bk-btn" href="@Url.Action("Edit", new{id = experience.ExperienceId})">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <span>Edit</span>
          </a>
		    @Html.ActionLink("Delete", "Delete", new{id = experience.ExperienceId})
	    </li>

	
	}
</ul>