@model TravelBlog.Models.Location

@{  
    ViewData["Title"] = "Location Details";
}


<h2>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State), @Html.DisplayFor(model => model.Country)</h2>
<p>@Html.ActionLink("Create a new experience", "Create", "Experiences", new {id = Model.LocationId})</p>


<p> @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId })
    | @Html.ActionLink("Delete", "Delete", new { id = Model.LocationId })</p>

    <h3>List of Experiences</h3>

    <hr>

    @foreach(var exp in Model.Experiences)
    {
        <p>
	        @Html.DisplayFor(model => exp.Title)
	        @Html.ActionLink("Details","Details", "Experiences", new {id = exp.ExperienceId})

        </p> 
     
        <hr>
    }



<p>@Html.ActionLink("Back to list", "Index")</p>