@model TravelBlog.Models.Location

@{  
    ViewData["Title"] = "Location Details";
}

<h2>Location Details</h2>

<p>@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)</p>
<p>
	@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)
   
</p>
<p> @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>