@model IEnumerable<TravelBlog.Models.Location>

@{  
    ViewData["Title"] = "Locations";
   
}

<h2>Locations</h2>
<p>@Html.ActionLink("Add new location", "Create")</p>

<ul>
    @foreach(var listLocation in Model)
	{
        <li>
		    @Html.DisplayFor(modelLocation => listLocation.City),
		    @Html.DisplayFor(modelLocation => listLocation.State),
		    @Html.DisplayFor(modelLocation => listLocation.Country)

        <a href="@Url.Action("Details", new { id = listLocation.LocationId })">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Details</span>
        </a>
		
	    </li>
	}
</ul>


